body{
   
    text-align: center;
    font-family: Quintessential;
    margin: 0;
}

h1{
    font-family: Akaya Telivigala;
    font-size: 3rem;
    color: black;
}

#balloon-container {
    height: 100vh;
    padding: 1em;
    box-sizing: border-box;
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
  }
  
  .balloon {
    height: 125px;
    width: 105px;
    border-radius: 75% 75% 70% 70%;
    position: relative;
  }
  
  .balloon:before {
    content: "";
    height: 75px;
    width: 1px;
    padding: 1px;
    background-color: #FDFD96;
    display: block;
    position: absolute;
    top: 125px;
    left: 0;
    right: 0;
    margin: auto;
  }
  
  .balloon:after {
      content: "▲";
      text-align: center;
      display: block;
      position: absolute;
      color: inherit;
      top: 120px;
      left: 0;
      right: 0;
      margin: auto;
  }
  
  @keyframes float {
    from {transform: translateY(100vh);
    opacity: 1;}
    to {transform: translateY(-300vh);
    opacity: 0;}
  }
  .ada-img {
      width: 25%;
      float: left;
      margin-right: 30px;
      border-radius: 8px;
  }

  .red-img{
    width: 25%;
    float: right;
    margin-right: 30px;
    margin-top: 400px;
    border-radius: 8px; 
  }

  .tokyo {
      width: 50%;
      margin: 100px auto 100px auto;
      text-align: left;
  }
  .newyork {
    width: 50%;
    margin: 100px auto 100px auto;
    padding-top: 350px;
    text-align: right;
}

